body {
  // background-color: #272c35 !important;
  overflow-y: hidden;
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }

  #form-designer-logo {
    text-align: center;
    color: #cbcc02;
    font-family: 'Satisfy', cursive;
  }

  .fd-wrapper {
    .fd-panel {
      border-radius: 6px;
    }

    #fd-widget-panel {
      width: 230px;
      height: 99%;
      overflow: scroll;
      position: fixed;
      z-index: 10000;
      // background-color: #ebeaec;
      h2 {
        padding-left: 10px;
      }
      .widget-panel-menu {
        padding: 5px;
        margin: 0;
        .fd-widget {
          list-style: none;
          border-top: 1px solid dashed;
          border-color: #ddd;
          margin: 0;
          padding: 10px 10px 10px 10px;
          cursor: move;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
    .canvas-container {
      background: none;
      padding-left: 235px;
      padding-right: 360px;
      overflow-y: scroll;

      #fd-canvas {
        border: 1px dashed #dddddd;
        height: 100%;

        .fd-row {
          margin: 6px;
          padding: 4px 4px 4px 4px;
          border: 1px solid rgba(128, 128, 128, 0.47);
          position: relative;
          z-index: 20000;
          .row-control {
            position: absolute;
            width: 30px;
            height: auto;
            background-color: #fff;
            padding: 10px 0 10px 0;
            top: -3px;
            left: 0;
            text-align: center;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: 1px solid #b8b8b9;
            cursor: pointer;
            opacity: 0;
            i {
              margin: 0;
              &:hover {
                color: #4262a8;
              }
            }
          }

          .fd-col {
            border: 1px dashed rgba(128, 128, 128, 0.47);
            min-height: 68px;
            overflow-y: scroll;

            .widget-box {
              position: relative;

              .widget-action-bar {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
                margin: 0;
                padding: 0;
                z-index: 100000;

                .widget-action-item {
                  list-style: none;
                  display: inline-block;
                  margin: 0;
                  padding: 0;

                  i {
                    cursor: pointer;
                    &:hover {
                      color: rgba(17, 71, 172, 0.81);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #fd-edit-panel {
      width: 360px;
      height: 99%;
      position: fixed;
      right: 10px;
      z-index: 10000;
      overflow-y: scroll;
      padding: 0;

      // .edit-panel-wrapper {
      //   background-color: #ebeaec;
      //   border-radius: 6px;
      // }

      .form-info {
        height: 150px;
        margin-bottom: 10px;
      }

      .widget-edit {
        height: 100%;
        overflow-y: scroll;
      }

      #fd-config-list {
        margin: 0;
        padding: 0;

        label {
          display: block;
        }

        .fd-config-item {
          list-style: none;
          margin: 0 0 20px 0;
          padding: 0;
        }
      }
    }
  }
}

.highlight-widget {
  .widget-action-bar {
    display: block !important;
  }
}

.configing {
  border: 1px solid gold !important;
}
