body {
  // background-color: #272c35 !important;
  overflow-y: hidden;
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }

  #form-designer-logo {
    text-align: center;
    color: #cbcc02;
    font-family: 'Satisfy', cursive;
  }

  .fd-wrapper {
    overflow-y: hidden;
    .fd-panel {
      border-radius: 6px;
    }

    .fd-panel-title {
      margin-top: 0;
      padding: 10px;
      margin-left: 0;
      background: #2196f3;
      color: #fff;
      font-family: 'Microsoft YaHei';
    }

    #fd-widget-panel {
      overflow-y: hidden;
      width: 230px;
      height: 99%;
      position: fixed;
      z-index: 10000;
      // background-color: #ebeaec;
      h2 {
        padding-left: 10px;
      }
      .widget-panel-menu {
        padding: 5px;
        margin: 0;
        .fd-widget {
          list-style: none;
          border-top: 1px solid dashed;
          border-color: #ddd;
          margin: 0;
          padding: 10px 10px 10px 10px;
          cursor: move;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
    .canvas-container {
      background: none;
      margin-left: 235px;
      margin-right: 362px;
      width: calc(100% - 595px);

      #fd-canvas {
        border: 1px dashed #dddddd;
        min-height: 1000px;
        padding-bottom: 200px;
        overflow-y: hidden;

        .fd-row {
          float: right;
          margin: 6px;
          padding: 4px 4px 4px 4px;
          border: 1px solid rgba(128, 128, 128, 0.47);
          position: relative;
          z-index: 20000;
          width: calc(100% - 24px);
          .row-control {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 16px;
            height: 20px;
            background-color: #fff;
            top: -1px;
            left: -16px;
            vertical-align: midlle;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: 1px solid #b8b8b9;
            cursor: pointer;
            i {
              font-size: 14px;
              font-weight: 100;
              margin: 0;
              color: rgba(128, 128, 128, 0.47);
              &:hover {
                color: #2196f3;
              }
            }
          }

          .fd-col {
            border: 1px dashed rgba(128, 128, 128, 0.47);
            min-height: 68px;
            overflow-y: hidden;

            .widget-box {
              position: relative;

              .widget-action-bar {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
                margin: 0;
                padding: 0;
                z-index: 100000;

                .widget-action-item {
                  list-style: none;
                  display: inline-block;
                  margin: 0;
                  padding: 0;

                  i {
                    cursor: pointer;
                    &:hover {
                      color: rgba(17, 71, 172, 0.81);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #fd-edit-panel {
      width: 360px;
      height: 99%;
      position: fixed;
      z-index: 1;
      right: 8px;
      top: 0;
      overflow: hidden;

      h2 {
        margin-top: 8px;
      }

      .form-info {
        height: 150px;
        margin-bottom: 10px;
      }

      .widget-edit {
        height: 100%;
        overflow-y: hidden;
      }

      #fd-config-list {
        margin: 0;
        padding: 0;

        label {
          display: block;
        }

        input {
          margin-top: 4px;
          margin-bottom: 12px;
        }

        .fd-config-item {
          list-style: none;
          margin: 0 0 20px 0;
          padding: 0;
        }
      }
    }
  }
}

.highlight-widget {
  .widget-action-bar {
    display: block !important;
  }
}

.configing {
  border: 1px solid #2196f3 !important;
}
