body {
  background-color: #272c35;

  #form-designer-logo {
    text-align: center;
    color: #cbcc02;
    font-family: 'Satisfy', cursive;
  }

  .fd-wrapper {
    .fd-panel {
      border-radius: 6px;
      background-color: #ebeaec;
    }

    #fd-widget-panel {
      height: 450px;

      .widget-panel-menu {
        padding: 0;
        margin: 0;
        .fd-widget {
          list-style: none;
          border-top: 1px solid dashed;
          border-color: #ddd;
          margin: 0;
          padding: 10px 10px 10px 10px;
          cursor: move;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
    .canvas-container {
      background: none;
      padding-left: -10px;
      padding-right: -10px;
      // margin-left: 10px;
      #fd-canvas {
        background-color: #ebeaec;
        min-height: 800px;
        border-radius: 6px;
        border: 3px solid #ffffff;

        .fd-row {
          // height: 80px;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 6px;
          padding: 4px 4px 4px 4px;
          border: 3px solid rgba(128, 128, 128, 0.47);

          .fd-col {
            border: 1px dashed rgba(128, 128, 128, 0.47);
            min-height: 60px;

            .widget-box {
              position: relative;

              .widget-action-bar {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
                margin: 0;
                padding: 0;

                .widget-action-item {
                  list-style: none;
                  display: inline-block;
                  margin: 0;
                  padding: 0;

                  i {
                    cursor: pointer;
                    &:hover {
                      color: rgba(17, 71, 172, 0.81);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #fd-edit-panel {
      height: 450px;

      #fd-config-list {
        margin: 0;
        padding: 0;

        .fd-config-item {
          list-style: none;
          margin: 0 0 10px 0;
          padding: 0;
        }
      }
    }
  }
}

.highlight-widget,
.configing {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 8px rgba(20, 122, 204, 0.73);

  .widget-action-bar {
    display: block !important;
  }
}
